.weather-wrap{
    width: 300px;
    margin: 50px;
    border: 1px solid brown;
}
.wrap-name{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(199, 254, 254);
    padding-bottom: 0;
    padding-top: 0;
}
.weather-info{
    padding: 20px;
    background-color: rgb(252, 141, 72);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.city-name{
    text-align: center;
}
.select-wrap>select{
    padding: 10px 0px;
    outline: none;
    width: 100%;
    border-radius: 0;
    border-color: none;
    border: none;
    font-weight: 900;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(199, 254, 254);
    padding-bottom: 0;
}